<div class="panel panel-primary">
    <div class="panel-heading">
        Lista zabawek
    </div>
    <div class='panel-body'>
        <div class='table-responsive'>
            <table class='table'>
                <thead>
                    <tr>
                        <th>Nazwa</th>
                        <th>Dostępność</th>
                        <th>Cena</th>
                        <th>Ocena</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>